/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
ul {
    list-style-type: none;
}

/* HEADER */
header {
    padding: 30px;
}

.logo {
    height: 80px;
    display: block;
    margin: auto;
}

/* MAIN */
.filters {
    display: block;
    text-align: center;
}

/* input */
input {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid black;
}

button {
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.todo-container {
    width: 60%;
    margin: auto;
    background-color: #F5F7F7;
    margin-top: 30px;
    padding: 30px;
}

.todo-actions {
    float: right;
}

.todo {
    padding: 10px;
    border-bottom: 1px solid gray;  
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}